In [95]:
import pandas as pd

In [96]:
# Import data and clean up dataframes
# Assuming prcp = precipitation and tobs = temperature
measurements_df = pd.read_csv('Resources/hawaii_measurements.csv')
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [97]:
# Determine how many rows are in the file
rows = len(measurements_df.index)
rows

19550

In [98]:
# Determine how many blanks there are in prcp and tobs
blanks = measurements_df.isnull().sum()
blanks

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [99]:
# 1447 out of 19550 rows have a blank in the prcp column. This makes up 7.4% of the rows.
# Given that it's precipitation, I'm going to assume that a blank = 0 and save the clean file
measurements_df.fillna(0, inplace=True)
measurements_df.to_csv('Resources/clean_hawaii_measurements.csv')
measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [100]:
stations_df = pd.read_csv('Resources/hawaii_stations.csv')
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [101]:
# Determine how many blanks there are in prcp and tobs
blanks = measurements_df.isnull().sum()
blanks

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [102]:
# No blanks in any of the rows. Save to a clean file.
stations_df.to_csv('Resources/clean_hawaii_stations.csv')
stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object