In [132]:
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine 
from sqlalchemy.orm import Session
from sqlalchemy import Column, Float, Integer, String

In [133]:
# Create Engine
engine = create_engine("sqlite:///hawaii.sqlite")

In [134]:
# Import clean data into dataframes
measurements_df = pd.read_csv('Resources/clean_hawaii_measurements.csv', index_col=0)
stations_df = pd.read_csv('Resources/clean_hawaii_stations.csv', index_col=0)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [135]:
# Create database connection
Base = declarative_base()
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [136]:
# Define Measurements and Stations classes
class Measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

class Stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [137]:
# Creating the SQLITE data tables from the previously created engine
Base.metadata.create_all(engine)

In [138]:
# Establishing pathway for dataframe to be inserted into SQLITE database
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [139]:
# Exporting pandas measurement dataframe to hawaii.sqlite database by iterating through Measurements class
for i in range(len(measurements_df)):
    session.add(
        Measurements(
            station=measurements_df.station[i], 
            date=measurements_df.date[i], 
            prcp=measurements_df.prcp[i], 
            tobs=measurements_df.tobs[i]))

In [140]:
# Commiting records to the "measurements" table within the database
session.commit()

In [141]:
# Exporting pandas station dataframe to hawaii.sqlite database by iterating through Stations class
for i in range(len(stations_df)):
    session.add(
        Stations(station=stations_df.station[i], 
                 name=stations_df.name[i], 
                 latitude=stations_df.latitude[i], 
                 longitude=stations_df.longitude[i], 
                 elevation=stations_df.elevation[i]))

In [142]:
# Commiting records to the "stations" table within the database
session.commit()

In [143]:
# Query to confirm measurement data was added to hawaii.sqlite
engine.execute("SELECT COUNT(station) FROM measurements").fetchall()

[(136850,)]

In [144]:
# Query to confirm station data was added to hawaii.sqlite
engine.execute("SELECT COUNT(station) FROM stations").fetchall()

[(63,)]